<!DOCTYPE html>
<html>
<head>
  <title>Project Name</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/vendor/normalize.css">
  <link rel="stylesheet" href="css/vendor/font-awesome.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

  <div class="container">
  <div class="wrap">
  <h3>Contact List</h3>
  <form action="" id="addContacts">
    <input id="first_last" type="text" placeholder="Name" class="form-input"><!-- </input> -->
    <input id="email" type="text" placeholder="Email" class="form-input"><!-- </input> -->
    <input id="phone_number" type="text" placeholder="Phone Number" class="form-input" />
    <button type="submit" class="form-button">Submit</button>
  </form>
  <table id="allContacts" class="table">
    <thead>
      <tr>
        <th>First & Last Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
  </table>
</div>


<script id="contactTemplate" type="text/template">
    <td><span id="name"><%= name %></span></td>
    <td><span id="email"><%= email %></span></td>
    <td><span id="phone"><%= phone %></span></td>


    <td><a href="#" class="delete"><span>Delete</span></a></td>
</script>

  </div>

  <!-- VENDOR -->
  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/underscore.js"></script>
  <script src="js/vendor/handlebars.js"></script>
  <script src="js/vendor/backbone.js"></script>
  <!-- TEMPLATES -->
  <script src="js/templates.js"></script>
  <!-- MAIN -->
  <script src="js/main.js"></script>

</body>
</html>
